@model IEnumerable<TrainStationManagement.Models.TrainStation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="text-center">
    <h1>Train Stations</h1>
</div>

<table class="table table-hover table-striped table-">
    <thead class="custom-thead">
        <tr>
            <th>
                Station Name
            </th>
            <th>
                Station Address
            </th>
            <th>
                Station Location
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationLocation)
            </td>
            
        </tr>
}
    </tbody>
</table>
